.edit-work-order-container {
    // max-width: 25vw !important;
    min-width: 25vw !important;
    margin: 1rem;
    .edit-work-order-header{
        display: flex;
        justify-content: space-between;
    }
    .label{
        font-size:1rem;
        color: black;
    }
    input{
        margin-bottom: 2rem;
        margin-top: 0.5rem;
    }
    .row{
        display:flex;
        width: 100%;
        justify-content: space-evenly;

    }
  }

  .edit-work-order-footer{
      .mr-3{
          margin-right: 0.6rem
      }
      margin-left: auto;
  }
