.update-stock-container{
    // max-width: 25vw !important;
    min-width: 30vw !important;
    margin: 1rem;
    height: 80vh !important;
    .row{
        display:flex;
        width: 100%;
        gap: 2rem;
        button{
            margin-left: auto;
            margin-bottom: 1rem;
        }
    }
    .label{
        font-size:1rem;
        color: black;
    }
    input{
        margin-bottom: 2rem;
        margin-top: 0.5rem;
    }
}


.form-action{
    margin-left: auto;
    .mr-3{
        margin-right: 0.6rem
    }
}